body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

header {
  background-image: url(concert.jpg);
  background-size: cover;
    background-position: center;
    height: 100px;

  color: white;
  padding: 30px;
  text-align: center;
}

main {
  padding: 20px;
}

.event-list {
  max-width: 600px;
  margin: auto;
}

.event {
  background-color: white;
  border: 1px solid #ddd;
  border-left: 5px solid #0077c2;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 6px;
}

a.buy-ticket {
  display: inline-block;
  background-color: #0077c2;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 10px;
}

a.buy-ticket:hover {
  background-color: #005fa3;
}


footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  color: #555;
}
.form-section {
  max-width: 500px;
  margin: 40px auto;
  background-color: #f0f9ff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section h1 {
  text-align: center;
  margin-bottom: 20px;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  margin-top: 15px;
  background-color: #0077c2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #005fa3;
}
