<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Booking Confirmed</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

  <section class="form-section">
    <h1>✅ Booking Confirmed!</h1>
    <p>Thank you for your purchase. Your ticket has been successfully booked.</p>
    <a href="{{ url_for('homepage') }}" class="buy-ticket">Back to Home</a>

  </section>
    <footer>
        <p>&copy; 2023 Hytix. All rights reserved.</p>
    </footer>

</body>
</html>
