<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hytix</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <h1>Ticktet Hub</h1>
        <p>Welcome to Hytix</p>
        </header>
<main>
    <section class="event-list">
        <h2>Upcoming Events</h2>
        
        <div class="event">
            <h3>Judika Live In Johor</h3>
            <p>Date: 25th Dec 2025</p>
            <p>Venue: Dewan Sultan Ismail, Utm</p>
            <p>Price: RM 250(seating)</p>
            <p>Price: RM 350(VVIP)</p>
            <a href="/ticket" class="buy-ticket">Buy Ticket</a>


            </div>
        <div class="event">
            <h3>Imsoniacks Live In Kulai</h3>
            <p>Date: 30th Jan 2026</p>
            <p>Venue: Kulai Cycling Park</p>
            <p>Price: RM 150(seating)</p>
            <p>Price: RM 250(VVIP)</p>
            <a href="/ticket" class="buy-ticket">Buy Ticket</a>


            </div>
        <div class="event">
            <h3>Siti Nurhaliza 20 Years</h3>
            <p>Date: 15th Feb 2026</p>
            <p>Venue: Stadium Bukit Jalil</p>
            <p>Price: RM 300(seating)</p>
            <p>Price: RM 500(VVIP)</p>
           <a href="/ticket" class="buy-ticket">Buy Ticket</a>


            </div>
    </section>
</main>
    <footer>
        <p>&copy; 2023 Hytix. All rights reserved.</p>
        </footer>
</body>
</html>